/* --------------Общие стили--------------- */
:root {
    --title-color: #212121;
    --accent-color: #2196F3;
    --text-color: #757575;
    --nav-links-color: #212121;
    --hero-title-color: #ffffff;
    --hero-button-color: #2196F3;
    --hover-focus-button-color: #ffffff;
    --title-color: #212121;
    --bg-color: #2F303A;
    --header-logo-color: #000000;
    --footer-logo-color: #ffffff;
    --button-text-color: #212121;
    --filter-button-text-color: #212121;
    --filter-button-bg-color:#F5F4FA;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.header-logo, .footer-logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.header-logo {
    color: var(--header-logo-color);
}

.header-logo span {
    color: var(--accent-color);
}

.page-header .link:hover,
.page-header .link:focus,
.footer-address .link:hover,
.footer-address .link:focus {
    color: var(--accent-color);
}

.nav-link,
.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav-link {
    color: var(--nav-links-color);
}

.current-link {
    color: var(--accent-color);
}

.header-link {
    color: var(--text-color);
}

/* -----------------hero----------------- */

.hero {
    background-color: var(--bg-color);
    text-align: center;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-title-color);
}

.hero-btn {
    height: 50px;
    min-width: 200px;
    /* padding: 10px 32px; */
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #ffffff;
    background-color: var(--hero-button-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #188CE8;
}

/* -----------------Наши преимущества----------------- */

.features-main-title,
.job-title,
.team-main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.feature-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
}

.feature-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* ---------------------Наша команда----------------------- */

.team-title,
.team-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.team-title {
    font-weight: 500;
}

.team .team-text {
    color: var(--text-color);
}

/* --------------------Footer----------------------- */

.footer {
    background-color: var(--bg-color);
}

.footer-logo {
    color: var(--footer-logo-color);
}

.footer-logo span {
    color: var(--accent-color);
}

.footer-address {
    font-style: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-link {
    color: rgba(255, 255, 255, 0.6);
}

.footer-address .footer-address-link {
    color: #ffffff;
}


/* -------------------Портфолио------------------- */

.filter-buttons .potfolio-btn {
    padding: 6px 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--button-text-color);
    background-color: var(--filter-button-bg-color);
    border: none;
    cursor: pointer;
}


/* -------------------Наши работы-------------------- */


.portfolio-examples .potfolio-btn:hover,
.portfolio-examples .potfolio-btn:focus,
.portfolio-examples .potfolio-btn:active {
    color: var(--hover-focus-button-color);
    background: var(--accent-color);
}

.portfolio-examples .example-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
}

.portfolio-examples .example-text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--text-color);
}